In [1]:
import pandas as pd
import warnings
import json
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)

# df = pd.read_csv("train_initial.csv")

# from training_pipeline.trainer import trainer

# obj = trainer()

# obj.run(df=df)

In [2]:
# df["User_Behaviour_RegistrationDatetime"] = df["User_Behaviour_RegistrationDatetime"].astype(str)

In [3]:
# df.set_index("UserID", inplace=True)

In [4]:
# df["User_Behaviour_RegistrationDatetime"].dtype =='O'

In [5]:
# df.to_csv("train_initial.csv")

In [6]:
# import pandas as pd
# import warnings
# import json
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# warnings.simplefilter(action='ignore', category=UserWarning)
# warnings.simplefilter(action='ignore', category=FutureWarning)

# son = json.load(open("predict_initial.json", "rb"))

In [7]:
# from prediction_pipeline.predictor import predictor

# obj = predictor()

# obj.run(data=son)

In [9]:
df = pd.read_csv("input/train_initial.csv")

In [10]:
df.head()

,UserID,User_GenericInfo_Birth,User_Job_Education,User_GenericInfo_Address,User_Job_Position,User_GenericInfo_Gender,User_Job_Sector,User_Behaviour_Device,User_Finance_TotalLoans_Salary,User_Job_Employed,User_Behaviour_Default,User_Finance_Balance_Withdrawls,User_Finance_AvarageAccountSpending,User_Finance_RID,User_Finance_AvarageCreditSpending,User_Finance_AvarageTransactionsAmount,User_Behaviour_RegistrationDatetime,User_Behaviour_OnboardingTime,User_Behaviour_WeeklyVisitNumber,User_Behaviour_Lifetime,User_Finance_TotalLoans_Amount,User_Finance_TotalLoans_Number,User_GenericInfo_Type,User_Finance_Balance_Min,User_Finance_Balance_Max,User_Finance_Balance_Avg,User_Finance_Cumsum_In,User_Finance_Cumsum_Out,User_Finance_EoP_Loans,User_Finance_EoP_Mortgages,User_Finance_EoP_Deposit,User_Finance_EoP_Investments,target
0,0,19920201,6,3,1,2,11,2,True,True,False,0.15,0.99,0.04,0.99,0.69,120201,0.95,0.70,20220708,0.01,0.01,1,0.02,0.14,0.05,0.60,0.65,0.01,0.20,0.99,0.99,0
1,1,19880201,6,18,5,1,18,1,False,True,False,0.65,0.99,0.01,0.99,0.29,120201,0.95,0.70,20220708,0.01,0.01,1,0.36,0.42,0.02,0.58,0.84,0.49,0.10,0.01,0.01,1
2,2,19780201,6,15,3,1,6,1,False,True,False,0.05,0.99,0.01,0.01,0.04,120201,0.30,0.95,20220708,0.01,0.01,1,0.12,0.15,0.01,0.91,0.99,0.01,0.92,0.99,0.99,1
3,3,19700201,6,14,2,1,1,1,True,True,False,0.45,0.99,0.02,0.99,0.49,120201,0.95,0.85,20220708,0.01,0.01,1,0.27,0.33,0.02,0.35,0.41,0.19,0.10,0.84,0.84,0
4,4,19840201,6,5,3,1,13,2,True,True,False,0.75,0.99,0.08,0.99,0.79,120201,0.95,0.40,20220708,0.01,0.01,1,0.07,0.25,0.08,0.47,0.95,0.04,0.28,0.17,0.17,1

In [11]:
from config import norm_vector
import numpy as np
for key, value in norm_vector.items():
    for idx, row in df.iterrows():
        df.loc[idx, key] = np.round((df.loc[idx, key] * norm_vector[key]["max"]) + (norm_vector[key]["min"]), 2)

In [39]:
df.head()

,UserID,User_GenericInfo_Birth,User_Job_Education,User_GenericInfo_Address,User_Job_Position,User_GenericInfo_Gender,User_Job_Sector,User_Behaviour_Device,User_Finance_TotalLoans_Salary,User_Job_Employed,User_Finance_Balance_Withdrawls,User_Finance_AvarageAccountSpending,User_Finance_RID,User_Finance_AvarageCreditSpending,User_Finance_AvarageTransactionsAmount,User_Behaviour_RegistrationDatetime,User_Behaviour_OnboardingTime,User_Behaviour_WeeklyVisitNumber,User_Behaviour_Lifetime,User_Finance_TotalLoans_Amount,User_Finance_TotalLoans_Number,User_GenericInfo_Type,User_Finance_Balance_Min,User_Finance_Balance_Max,User_Finance_Balance_Avg,User_Finance_Cumsum_In,User_Finance_Cumsum_Out,User_Finance_EoP_Loans,User_Finance_EoP_Mortgages,User_Finance_EoP_Deposit,User_Finance_EoP_Investments,User_Behaviour_Default
0,0,19920201,6,3,1,2,11,2,True,True,4.0,5100.0,5.0,1500.0,700.0,120201,20.0,15.0,20220708,0.0,0.0,1,300.0,1500.0,600.0,6100.0,6600.0,200.0,20100.0,10000.0,10000.0,0
1,1,19880201,7,18,5,1,18,1,False,True,14.0,7200.0,2.0,1300.0,300.0,120201,20.0,15.0,20220708,0.0,0.0,1,3700.0,4300.0,300.0,5900.0,8500.0,5000.0,10100.0,200.0,200.0,1
2,2,19780201,6,15,3,1,6,1,False,True,2.0,9000.0,2.0,1000.0,50.0,120201,7.0,20.0,20220708,0.0,0.0,1,1300.0,1600.0,200.0,9200.0,10000.0,200.0,92100.0,10000.0,10000.0,1
3,3,19700201,6,14,2,1,1,1,True,True,10.0,2700.0,3.0,1500.0,500.0,120201,20.0,18.0,20220708,0.0,0.0,1,2800.0,3400.0,300.0,3600.0,4200.0,2000.0,10100.0,8500.0,8500.0,0
4,4,19840201,7,5,3,1,13,2,True,True,16.0,8100.0,9.0,1500.0,800.0,120201,20.0,9.0,20220708,0.0,0.0,1,800.0,2600.0,900.0,4800.0,9600.0,500.0,28100.0,1800.0,1800.0,1

In [56]:
df.to_csv("input/train_initial.csv")

In [52]:
df["User_Finance_TotalLoans_Number"] = df["User_Finance_TotalLoans_Number"].astype(int)

In [54]:
df["User_Behaviour_Default"] = df["User_Behaviour_Default"].map(
    {
        0 : False,
        1 : True
    }
)

In [55]:
df.head()

,User_GenericInfo_Birth,User_Job_Education,User_GenericInfo_Address,User_Job_Position,User_GenericInfo_Gender,User_Job_Sector,User_Behaviour_Device,User_Finance_TotalLoans_Salary,User_Job_Employed,User_Finance_Balance_Withdrawls,User_Finance_AvarageAccountSpending,User_Finance_RID,User_Finance_AvarageCreditSpending,User_Finance_AvarageTransactionsAmount,User_Behaviour_RegistrationDatetime,User_Behaviour_OnboardingTime,User_Behaviour_WeeklyVisitNumber,User_Behaviour_Lifetime,User_Finance_TotalLoans_Amount,User_Finance_TotalLoans_Number,User_GenericInfo_Type,User_Finance_Balance_Min,User_Finance_Balance_Max,User_Finance_Balance_Avg,User_Finance_Cumsum_In,User_Finance_Cumsum_Out,User_Finance_EoP_Loans,User_Finance_EoP_Mortgages,User_Finance_EoP_Deposit,User_Finance_EoP_Investments,User_Behaviour_Default
UserID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,19920201,6,3,1,2,11,2,True,True,4,5100.0,5,1500.0,700.0,120201,20,15,20220708,0.0,0,1,300.0,1500.0,600.0,6100.0,6600.0,200.0,20100.0,10000.0,10000.0,False
1,19880201,7,18,5,1,18,1,False,True,14,7200.0,2,1300.0,300.0,120201,20,15,20220708,0.0,0,1,3700.0,4300.0,300.0,5900.0,8500.0,5000.0,10100.0,200.0,200.0,True
2,19780201,6,15,3,1,6,1,False,True,2,9000.0,2,1000.0,50.0,120201,7,20,20220708,0.0,0,1,1300.0,1600.0,200.0,9200.0,10000.0,200.0,92100.0,10000.0,10000.0,True
3,19700201,6,14,2,1,1,1,True,True,10,2700.0,3,1500.0,500.0,120201,20,18,20220708,0.0,0,1,2800.0,3400.0,300.0,3600.0,4200.0,2000.0,10100.0,8500.0,8500.0,False
4,19840201,7,5,3,1,13,2,True,True,16,8100.0,9,1500.0,800.0,120201,20,9,20220708,0.0,0,1,800.0,2600.0,900.0,4800.0,9600.0,500.0,28100.0,1800.0,1800.0,True

In [43]:
df.set_index("UserID", inplace=True)

In [35]:
for idx, row in df.iterrows():
    df.loc[idx, "User_Finance_TotalLoans_Amount"] = 0

In [38]:
df.drop("target", axis=1, inplace=True)
'''
this is the target column in future
'''
# User_Behaviour_Default

'\nthis is the target column in future\n'

In [37]:
df["User_Behaviour_Default"] = df["target"]